<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= guide.title %></title>
  <link rel="stylesheet" href="/guide_details.css">
</head>
<body>

    <nav class="navbar">
        <div class="nav-logo">RST Police Database</div>
        <div class="nav-links">
          <a href="/">Login</a>
      </nav>

  <main>
    <div class="container">
      <h1><%= guide.title %></h1>
      <div class="guide-content">
        <div class="guide-html">
            <%- guide.content %>
          </div>
      </div>
    </div>
  </main>

</body>
</html>
